<header class="main-header">
		<div class="container">
			<h3 class="main-header__logo">Bleague</h3>
		  <nav class="main-header__nav">
			<ul class="main-header__list">
				<li class="main-header__item <%= path ==='/' ? 'active' : '' %> "><a href="/">HOME</a></li>
				<li class="main-header__item <%= path==='/login' ? 'active' : '' %>"><a href="/login">LOGIN</a>
			</ul>
		  </nav>
		</div>
</header>