.flex{
	display: flex;
}
.showcase{
	height:15rem;
	background-color: #547490;
	color:#ffffff;
	padding-top: 2rem;
}

.showcase__circle-logo{
	height:5rem;
	width:5rem;
	border-radius: 50%;
	background-color: #e91e63;
	text-align: center;
	line-height: 5rem;
	font-size:2rem;
	margin:0 auto;
}

.showcase h1{
	font-size: 3rem;
	text-align: center;
}


.top-blog-section{
	padding-top: 2rem;
	color:#333;
}

.top-blog-section__left-side-panel{
	float:left;
	width:75%;
	display: flex;
	flex-flow: row wrap;
	border: 1px solid #ccc;
	background-color: white;
	margin-top:2rem;
}
.top-blog-section__item{
	background-color: white;
	margin: 1rem;
	border:1px solid #ccc;
	width:45%;
	display: flex

}

.top-blog-section__image{
 width:30%;
 margin-right:0.5rem;
 height: inherit;
}

.top-blog-section__image img{
 object-fit: cover;
 width:100%;
 height: 100%;
}

.top-blog-section__text{
 
 width:60%;
}

.top-blog-section h2{
	font-size: 1.5rem;

}

.right-side-panel{
  	float:right;
  	width:20%;

}

.right-side-panel h3{
  display: block;
  background-color: #f0f3f5;
  margin-bottom: 5px;
  text-align: center;
}

.right-side-panel ul{
	list-style: none;
}

.category{
	background-color: white;
	height: 7rem;

	
}

.category__topics-1{
	float:left;
	margin-left: 5px
}

.category__topics-2{
	float:right;
	margin-right: 5px
}


.top-users{
	background-color: white;
	margin-top: 1rem;
	height: 8.5rem;
}


footer{
	background-color: #ccc;
	text-align: center;
}






@media all and (max-width:1104px){
	.top-blog-section__item{
		width:40%;
	}
}

@media all and (max-width:939px){

	.top-blog-section__item{
		width:80%;
	}

	.top-blog-section__left-side-panel{
		flex-flow: column nowrap;
	}

	.category{
		background-color: white;
		height: 8.2rem;
	}

	.category__topics-1{
	   float:none;
	}
	.category__topics-2{
		float:none;
		margin-left: 5px;
	}
}

@media all and (max-width:600px){
	.top-blog-section__left-side-panel {
		float: none;
		width:85%;
	}
	.right-side-panel {
		display: none;
	}
}

@media all and (max-width:600px){
	.top-blog-section__left-side-panel {
		width:95%;
	}
}

