.login-card{
	

	background-color: white;
	width:560px;
	max-width: 90%;
	height: 28rem;
	margin: 5rem auto 0 auto;

	
	padding-top: 2rem;
	
	
	border-radius: 3px;
	box-shadow: 0 2px 3px 2px #ccc;
}



.login-card h1,h5{
	text-align: center;
	margin-bottom:1rem;

}

.login-card h5{
	color: purple;
}

.login-control{
	margin:0 auto 2rem;
	width:55%;
	height:2.5rem;
}

.login-control input{
	display: block;
	height:100%;
	width:100%;
	padding-left: 0.5rem;
	border:none;
	background-color: #ccc;
	
	
}
.login-control input:focus{
	background-color: #ccc;
}

.btn{
	border:none;
	width:50%;
	height: 100%;
	display: block;
	margin:0 auto;
	color:white;
	cursor:pointer;
}

.btn-green{
	background-color: #009668;
}