
.post{
	width:60%;
	background-color: white;
	padding:2rem;
	margin:2rem auto 0 auto;
	color:#333;
}

.img-container{
	object-fit: cover;
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.img-container img{
	display: block;
	width:100%;
	height:auto;
}
.description{
	height:2rem;
	overflow: hidden;
}
.post a {
	text-decoration: none;
	color:white;
	display: block;
	height:2.1rem;
	width:6rem;
	margin-top:1rem;
	border:none;
	background-color: #009668 ;
	
	line-height:2.1rem ;
	text-align: center;
	font-weight: bold;
}

.danger{
	background-color: #cc0000;
}
.good{
	background-color: green;
}
