<%- include('../includes/head.ejs') %>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/new-post.css">
</head>
<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
	  <div class="container">
		  <div class="new-post">
			
			  <header>
				<h3>New post</h3>
			  </header>

			  <form>
			  	<div class="form-control">
			  		<label for="title">Title</label>
			  		<input type="text" name="title" id="title">
			  	</div>

			  	<div class="form-control">
			  		<label for="image">Image</label>
			  		<input type="text" name="imageUrl" id="image">
			  	</div>

			  	<div class="form-control">
			  		<label for="content">Content</label>
			  		<textarea id="content"></textarea>
			  	
			  	</div>
			  	<button type="submit">Add Post</button>
			  </form>

		  </div>
	  </div>	  
	</main>
	


<%- include('../includes/end.ejs') %>