<%- include('../includes/head.ejs') %>

	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/posts.css">
	
</head>
<body>
	<%- include('../includes/navigation.ejs') %>

	<main>
		<div class="container">
			<div class="post-list">
				<article class="post-list__post">
					<h3> Title </h3>
					<div class="img-container">
						<img src"" alt="an image"/>
					</div>
					<p>
					  LoLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt um  
					<p>
					<a href=""> >>Read </a>
				</article>
			</div>
		</div>
	</main>



<%- include('../includes/end.ejs') %>